openapi: "3.0.0"
info:
  title: "inpost_3.0.0 [retrofit2swagger]"
  description: "Extracted from retrofit"
  version: "1.0.0"
paths:
  "/v2/agreement":
    "post":
      summary: "AgreementApi.agreement"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Completable"
          description: "Response body type was declared as `Completable`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgreementGrant"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.agreement.AgreementApi"
    "get":
      summary: "AgreementApi.agreement"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/AgreementGrant"
          description: "Response body type was declared as `Single<List<AgreementGrant>>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.agreement.AgreementApi"
  "/v1/notifications/read/{notificationId}":
    "post":
      summary: "NotificationCenterApi.markAsRead"
      parameters:
      - name: "notificationId"
        in: "path"
        description: "NotificationCenterApi.markAsRead.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationData"
          description: "Response body type was declared as `Single<NotificationData>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.notificationcenter.NotificationCenterApi"
  "/v1/notifications/readAll":
    "post":
      summary: "NotificationCenterApi.markAsReadAll"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationData"
          description: "Response body type was declared as `Single<NotificationData>`"
      requestBody:
        content:
          application/json:
            schema:
              type: "string"
              format: "date-time"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.notificationcenter.NotificationCenterApi"
  "/v1/notifications":
    "get":
      summary: "NotificationCenterApi.news"
      parameters:
      - name: "from"
        in: "query"
        description: "NotificationCenterApi.news.str"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationResponse"
          description: "Response body type was declared as `Single<NotificationResponse>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.notificationcenter.NotificationCenterApi"
  "/v1/logout":
    "post":
      summary: "UserApi.logout"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Completable"
          description: "Response body type was declared as `Completable`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.user.UserApi"
  "/v1/parcel/{shipmentNumber}":
    "get":
      summary: "ParcelApi.oneParcel"
      parameters:
      - name: "shipmentNumber"
        in: "path"
        description: "ParcelApi.oneParcel.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Parcel"
          description: "Response body type was declared as `Single<Parcel>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.parcel.ParcelApi"
  "/v1/parcel":
    "get":
      summary: "ParcelApi.parcelsWithDate"
      parameters:
      - name: "updatedAfter"
        in: "query"
        description: "ParcelApi.parcelsWithDate.str"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Parcel"
          description: "Response body type was declared as `Single<List<Parcel>>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.parcel.ParcelApi"
  "/v1/parcels":
    "get":
      summary: "ParcelApi.parcels"
      parameters:
      - name: "shipmentNumbers"
        in: "query"
        description: "ParcelApi.parcels.str"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Parcel"
          description: "Response body type was declared as `Single<List<Parcel>>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.parcel.ParcelApi"
    "post":
      summary: "SentParcelApi.createParcel"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateParcelResponse"
          description: "Response body type was declared as `Single<CreateParcelResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateParcelRequest"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.sentparcel.SentParcelApi"
  "/v1/observedParcel/{shipmentNumber}":
    "delete":
      summary: "ParcelApi.removeObservedParcel"
      parameters:
      - name: "shipmentNumber"
        in: "path"
        description: "ParcelApi.removeObservedParcel.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Completable"
          description: "Response body type was declared as `Completable`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.parcel.ParcelApi"
  "/v1/observedParcel":
    "post":
      summary: "ParcelApi.subscribeParcel"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Completable"
          description: "Response body type was declared as `Completable`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscribeRequest"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.parcel.ParcelApi"
  "/v1/companies/{taxNumber}":
    "get":
      summary: "CompanyApi.companies"
      parameters:
      - name: "taxNumber"
        in: "path"
        description: "CompanyApi.companies.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesResponse"
          description: "Response body type was declared as `Single<CompaniesResponse>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.company.CompanyApi"
  "/v1/payments/transactions/create/blik":
    "post":
      summary: "CreateBlikTransactionApi.createBlikTransaction"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkTransactionDetails"
          description: "Response body type was declared as `Single<NetworkTransactionDetails>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBlikTransaction"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.payment.createbliktransaction.CreateBlikTransactionApi"
  "/v1/payments/blik/alias/status":
    "get":
      summary: "PaymentApi.getBlikAliasStatus"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlikAliasStatus"
          description: "Response body type was declared as `Single<BlikAliasStatus>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.payment.PaymentApi"
  "/v2/setPushId":
    "post":
      summary: "CloudMessagingApi.setPushId"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Completable"
          description: "Response body type was declared as `Completable`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PushIdBody"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.fcm.CloudMessagingApi"
  "/v1/confirmSMSCode/{phoneNumber}/{smsCode}":
    "post":
      summary: "RegistrationApi.confirmSMSCode"
      parameters:
      - name: "phoneNumber"
        in: "path"
        description: "RegistrationApi.confirmSMSCode.str"
        required: true
        schema:
          type: "string"
      - name: "smsCode"
        in: "path"
        description: "RegistrationApi.confirmSMSCode.str2"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmSMSResponse"
          description: "Response body type was declared as `Single<ConfirmSMSResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PhoneOSRequest"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.registration.RegistrationApi"
  "/v1/authenticate":
    "post":
      summary: "RegistrationApi.refreshToken"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenResponse"
          description: "Response body type was declared as `Single<RefreshTokenResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthenticateRequest"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.registration.RegistrationApi"
  "/v1/sendSMSCode/{phoneNumber}":
    "get":
      summary: "RegistrationApi.sendSMSCode"
      parameters:
      - name: "phoneNumber"
        in: "path"
        description: "RegistrationApi.sendSMSCode.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Completable"
          description: "Response body type was declared as `Completable`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.registration.RegistrationApi"
  "/v1/collect/compartment/status/{sessionUuid}":
    "get":
      summary: "CompartmentStatusApi.statusCompartment"
      parameters:
      - name: "sessionUuid"
        in: "path"
        description: "CompartmentStatusApi.statusCompartment.str"
        required: true
        schema:
          type: "string"
      - name: "expected"
        in: "query"
        description: "CompartmentStatusApi.statusCompartment.str2"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompartmentStatusResponse"
          description: "Response body type was declared as `Single<CompartmentStatusResponse>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.comaprtment.CompartmentStatusApi"
  "/v2/collect/compartment/claim/{sessionUuid}":
    "post":
      summary: "CompartmentApi.claimCompartment"
      parameters:
      - name: "sessionUuid"
        in: "path"
        description: "CompartmentApi.claimCompartment.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompartmentClaimResponse"
          description: "Response body type was declared as `Single<CompartmentClaimResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompartmentClaimRequest"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.comaprtment.CompartmentApi"
  "/v1/collect/compartment/close/{sessionUuid}":
    "get":
      summary: "CompartmentApi.closeCompartment"
      parameters:
      - name: "sessionUuid"
        in: "path"
        description: "CompartmentApi.closeCompartment.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompartmentCloseResponse"
          description: "Response body type was declared as `Single<CompartmentCloseResponse>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.comaprtment.CompartmentApi"
  "/v1/collect/compartment/open/{sessionUuid}":
    "post":
      summary: "CompartmentApi.openCompartment"
      parameters:
      - name: "sessionUuid"
        in: "path"
        description: "CompartmentApi.openCompartment.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompartmentOpenResponse"
          description: "Response body type was declared as `Single<CompartmentOpenResponse>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.comaprtment.CompartmentApi"
  "/v1/collect/compartment/reopen/{sessionUuid}":
    "post":
      summary: "CompartmentApi.reopenCompartment"
      parameters:
      - name: "sessionUuid"
        in: "path"
        description: "CompartmentApi.reopenCompartment.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompartmentOpenResponse"
          description: "Response body type was declared as `Single<CompartmentOpenResponse>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.comaprtment.CompartmentApi"
  "/v1/collect/terminate/{sessionUuid}":
    "post":
      summary: "CompartmentApi.terminateCompartment"
      parameters:
      - name: "sessionUuid"
        in: "path"
        description: "CompartmentApi.terminateCompartment.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Completable"
          description: "Response body type was declared as `Completable`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.comaprtment.CompartmentApi"
  "/v1/collect/validate":
    "post":
      summary: "CompartmentApi.validateCompartment"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompartmentValidateResponse"
          description: "Response body type was declared as `Single<CompartmentValidateResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidationRequest"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.comaprtment.CompartmentApi"
  "/v1/prices/parcels":
    "get":
      summary: "PriceApi.getPrices"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceResponse"
          description: "Response body type was declared as `Single<PriceResponse>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.price.PriceApi"
  "/v1/parcels/sent/{shipmentNumber}":
    "get":
      summary: "SentParcelApi.parcel"
      parameters:
      - name: "shipmentNumber"
        in: "path"
        description: "SentParcelApi.parcel.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SentParcel"
          description: "Response body type was declared as `Single<SentParcel>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.sentparcel.SentParcelApi"
  "/v1/parcels/sent":
    "get":
      summary: "SentParcelApi.parcelsAfter"
      parameters:
      - name: "updatedAfter"
        in: "query"
        description: "SentParcelApi.parcelsAfter.str"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SentParcelsResponse"
          description: "Response body type was declared as `Single<SentParcelsResponse>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.sentparcel.SentParcelApi"
  "/v1/points":
    "get":
      summary: "MapApi.searchPoints"
      parameters:
      - name: "query"
        in: "query"
        description: "MapApi.searchPoints.str"
        schema:
          type: "string"
      - name: "fields"
        in: "query"
        description: "MapApi.searchPoints.str2"
        schema:
          type: "string"
      - name: "per_page"
        in: "query"
        description: "MapApi.searchPoints.i"
        schema:
          type: "integer"
      - name: "type"
        in: "query"
        description: "MapApi.searchPoints.str3"
        schema:
          type: "string"
      - name: "functions"
        in: "query"
        description: "MapApi.searchPoints.str4"
        schema:
          type: "string"
      - name: "status"
        in: "query"
        description: "MapApi.searchPoints.str5"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryPointsResponse"
          description: "Response body type was declared as `Single<DeliveryPointsResponse>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.map.MapApi"
  "/v1/preferences":
    "get":
      summary: "PreferenceApi.getPreferences"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreferenceResponse"
          description: "Response body type was declared as `Single<PreferenceResponse>`"
      servers:
      - url: "https://api-inmobile-pl.easypack24.net"
      x-retrofit-interface: "p022pl.inpost.inmobile.network.perefence.PreferenceApi"
components:
  schemas:
    "AgreementGrant":
      type: "object"
      properties:
        "agreementType":
          type: "string"
        "email":
          type: "string"
        "status":
          type: "string"
    "Completable":
      type: "object"
    "NotificationData":
      type: "object"
      properties:
        "content":
          type: "string"
        "date":
          type: "string"
          format: "date-time"
        "f36716id":
          type: "string"
        "imageUrl":
          type: "string"
        "parcelCount":
          type: "integer"
        "parcelType":
          $ref: "#/components/schemas/NetworkParcelType"
        "read":
          type: "boolean"
        "receiver":
          type: "string"
        "sender":
          type: "string"
        "shipmentNumber":
          type: "string"
        "title":
          type: "string"
        "type":
          type: "string"
    "NotificationResponse":
      type: "object"
      properties:
        "notifications":
          type: "array"
          items:
            $ref: "#/components/schemas/NotificationData"
    "Parcel":
      type: "object"
      properties:
        "cashOnDelivery":
          $ref: "#/components/schemas/CashOnDelivery"
        "endOfWeekCollection":
          type: "boolean"
        "expiryDate":
          type: "string"
          format: "date-time"
        "isMobileCollectPossible":
          type: "boolean"
        "isObserved":
          type: "boolean"
        "multiCompartment":
          $ref: "#/components/schemas/MultiCompartment"
        "openCode":
          type: "string"
        "phoneNumber":
          type: "string"
        "pickupDate":
          type: "string"
          format: "date-time"
        "pickupPoint":
          $ref: "#/components/schemas/DeliveryPointData"
        "qrCode":
          type: "string"
        "returnedToSenderDate":
          type: "string"
          format: "date-time"
        "senderName":
          type: "string"
        "shipmentNumber":
          type: "string"
        "shipmentType":
          type: "string"
        "status":
          type: "string"
        "statusHistory":
          type: "array"
          items:
            $ref: "#/components/schemas/ParcelHistory"
        "storedDate":
          type: "string"
          format: "date-time"
    "SubscribeRequest":
      type: "object"
      properties:
        "shipmentNumber":
          type: "string"
    "CompaniesResponse":
      type: "object"
      properties:
        "companies":
          type: "array"
          items:
            $ref: "#/components/schemas/CompanyResponse"
        "nationalBusinessRegistryNumber":
          type: "string"
        "taxNumber":
          type: "string"
    "CreateBlikTransaction":
      type: "object"
      properties:
        "amount":
          type: "string"
        "appKey":
          type: "integer"
        "blikCode":
          type: "string"
        "currency":
          $ref: "#/components/schemas/NetworkCurrency"
        "paymentMethod":
          $ref: "#/components/schemas/NetworkBlikPaymentMethod"
        "process":
          $ref: "#/components/schemas/NetworkPaymentProcess"
        "shipmentNumber":
          type: "string"
    "NetworkTransactionDetails":
      type: "object"
      properties:
        "multiMerchantParentId":
          type: "string"
        "services":
          type: "array"
          items:
            $ref: "#/components/schemas/NetworkChildTransaction"
        "transactionId":
          type: "string"
    "BlikAliasStatus":
      type: "object"
      properties:
        "isActive":
          type: "boolean"
    "PushIdBody":
      type: "object"
      properties:
        "pushId":
          type: "string"
        "refreshToken":
          type: "string"
    "PhoneOSRequest":
      type: "object"
      properties:
        "phoneOS":
          type: "string"
    "ConfirmSMSResponse":
      type: "object"
      properties:
        "authToken":
          type: "string"
        "refreshToken":
          type: "string"
    "AuthenticateRequest":
      type: "object"
      properties:
        "phoneOS":
          type: "string"
        "refreshToken":
          type: "string"
    "RefreshTokenResponse":
      type: "object"
      properties:
        "authToken":
          type: "string"
    "CompartmentStatusResponse":
      type: "object"
      properties:
        "compartment":
          $ref: "#/components/schemas/Compartment"
        "status":
          type: "string"
    "CompartmentClaimRequest":
      type: "object"
      properties:
        "shipmentNumbers":
          type: "array"
          items:
            type: "string"
    "CompartmentClaimResponse":
      type: "object"
      properties:
        "actionTime":
          type: "integer"
        "confirmActionTime":
          type: "integer"
        "openCompartmentWaitingTime":
          type: "integer"
    "CompartmentCloseResponse":
      type: "object"
      properties:
        "closed":
          type: "boolean"
    "CompartmentOpenResponse":
      type: "object"
      properties:
        "actionTime":
          type: "integer"
        "compartment":
          $ref: "#/components/schemas/Compartment"
        "confirmActionTime":
          type: "integer"
        "openCompartmentWaitingTime":
          type: "integer"
    "ValidationRequest":
      type: "object"
      properties:
        "geoPoint":
          $ref: "#/components/schemas/GeoPoint"
        "parcel":
          $ref: "#/components/schemas/ParcelCompartment"
    "CompartmentValidateResponse":
      type: "object"
      properties:
        "sessionExpirationTime":
          type: "integer"
        "sessionUuid":
          type: "string"
    "PriceResponse":
      type: "object"
      properties:
        "boxMachine":
          $ref: "#/components/schemas/NetworkServicePrice"
        "courier":
          $ref: "#/components/schemas/NetworkServicePrice"
    "CreateParcelRequest":
      type: "object"
      properties:
        "customerReference":
          type: "string"
        "deliveryPoint":
          $ref: "#/components/schemas/NetworkRequestDeliveryPoint"
        "deliveryType":
          type: "string"
        "invoice":
          $ref: "#/components/schemas/NetworkRequestInvoice"
        "parcelSize":
          type: "string"
        "price":
          type: "string"
        "receiver":
          $ref: "#/components/schemas/NetworkRequestReceiver"
        "sender":
          $ref: "#/components/schemas/NetworkRequestSender"
    "CreateParcelResponse":
      type: "object"
      properties:
        "shipmentNumber":
          type: "string"
    "SentParcel":
      type: "object"
      properties:
        "autoArchivable":
          type: "boolean"
        "confirmationDate":
          type: "string"
          format: "date-time"
        "customerReference":
          type: "string"
        "deliveryPoint":
          $ref: "#/components/schemas/NetworkTargetAddress"
        "dropOffPoint":
          $ref: "#/components/schemas/DeliveryPointData"
        "endOfWeekCollection":
          type: "boolean"
        "expiryDate":
          type: "string"
          format: "date-time"
        "invoice":
          $ref: "#/components/schemas/NetworkInvoice"
        "originSystem":
          type: "string"
        "parcelSize":
          type: "string"
        "payment":
          $ref: "#/components/schemas/NetworkPayment"
        "pickUpPoint":
          $ref: "#/components/schemas/DeliveryPointData"
        "qrCode":
          type: "string"
        "quickSendCode":
          type: "string"
        "receiver":
          $ref: "#/components/schemas/NetworkSimpleDetails"
        "sender":
          $ref: "#/components/schemas/NetworkSimpleDetails"
        "shipmentNumber":
          type: "string"
        "shipmentType":
          type: "string"
        "status":
          type: "string"
        "statusHistory":
          type: "array"
          items:
            $ref: "#/components/schemas/ParcelHistory"
        "unlabeled":
          type: "boolean"
    "SentParcelsResponse":
      type: "object"
      properties:
        "parcels":
          type: "array"
          items:
            $ref: "#/components/schemas/SentParcel"
    "DeliveryPointsResponse":
      type: "object"
      properties:
        "items":
          type: "array"
          items:
            $ref: "#/components/schemas/DeliveryPointData"
    "PreferenceResponse":
      type: "object"
      properties:
        "preferences":
          type: "array"
          items:
            $ref: "#/components/schemas/NetworkPreference"
    "NetworkParcelType":
      type: "string"
      enum:
      - "TRACKED"
      - "OBSERVED"
      - "SENT"
    "CashOnDelivery":
      type: "object"
      properties:
        "paid":
          type: "boolean"
        "payCode":
          type: "string"
        "price":
          type: "string"
        "transactionStatus":
          type: "string"
        "url":
          type: "string"
    "MultiCompartment":
      type: "object"
      properties:
        "collected":
          type: "boolean"
        "presentation":
          type: "boolean"
        "shipmentNumbers":
          type: "array"
          items:
            type: "string"
        "uuid":
          type: "string"
    "DeliveryPointData":
      type: "object"
      properties:
        "addressDetails":
          $ref: "#/components/schemas/AddressDetails"
        "location":
          $ref: "#/components/schemas/PointLocation"
        "location247":
          type: "boolean"
        "locationDescription":
          type: "string"
        "name":
          type: "string"
        "openingHours":
          type: "string"
        "paymentType":
          type: "object"
          additionalProperties:
            type: "string"
        "status":
          type: "string"
        "type":
          type: "array"
          items:
            type: "string"
        "virtual":
          type: "integer"
    "ParcelHistory":
      type: "object"
      properties:
        "date":
          type: "string"
          format: "date-time"
        "status":
          type: "string"
    "CompanyResponse":
      type: "object"
      properties:
        "buildingNumber":
          type: "string"
        "city":
          type: "string"
        "flatNumber":
          type: "string"
        "name":
          type: "string"
        "postCode":
          type: "string"
        "postOffice":
          type: "string"
        "street":
          type: "string"
    "NetworkCurrency":
      type: "string"
      enum:
      - "PLN"
      - "EUR"
      - "USD"
      - "GBP"
    "NetworkBlikPaymentMethod":
      type: "string"
      enum:
      - "CODE"
      - "ALIAS"
      - "APP_KEY"
    "NetworkPaymentProcess":
      type: "string"
      enum:
      - "COD"
      - "C2X"
    "NetworkChildTransaction":
      type: "object"
      properties:
        "multiMerchantChildId":
          type: "string"
        "process":
          $ref: "#/components/schemas/NetworkPaymentProcess"
        "shipmentNumber":
          type: "string"
        "transactionId":
          type: "string"
    "Compartment":
      type: "object"
      properties:
        "location":
          $ref: "#/components/schemas/Location"
        "name":
          type: "string"
    "GeoPoint":
      type: "object"
      properties:
        "accuracy":
          type: "number"
        "latitude":
          type: "number"
        "longitude":
          type: "number"
    "ParcelCompartment":
      type: "object"
      properties:
        "openCode":
          type: "string"
        "shipmentNumber":
          type: "string"
    "NetworkServicePrice":
      type: "object"
      properties:
        "endOfWeekCollectionPrice":
          type: "number"
        "price":
          $ref: "#/components/schemas/NetworkParcelPrice"
    "NetworkRequestDeliveryPoint":
      type: "object"
      properties:
        "address":
          $ref: "#/components/schemas/NetworkRequestAddress"
        "boxMachineName":
          type: "string"
    "NetworkRequestInvoice":
      type: "object"
      properties:
        "additionalInformation":
          type: "string"
        "addressDetails":
          $ref: "#/components/schemas/NetworkRequestInvoiceAddress"
        "companyName":
          type: "string"
        "email":
          type: "string"
        "fullName":
          type: "string"
        "invoiceType":
          type: "string"
        "nationalBusinessRegistryNumber":
          type: "string"
        "taxNumber":
          type: "string"
        "taxNumberPrefix":
          type: "string"
        "verified":
          type: "boolean"
    "NetworkRequestReceiver":
      type: "object"
      properties:
        "email":
          type: "string"
        "name":
          type: "string"
        "phoneNumber":
          type: "string"
    "NetworkRequestSender":
      type: "object"
      properties:
        "email":
          type: "string"
        "name":
          type: "string"
    "NetworkTargetAddress":
      type: "object"
      properties:
        "address":
          $ref: "#/components/schemas/NetworkAddress"
        "companyName":
          type: "string"
        "name":
          type: "string"
    "NetworkInvoice":
      type: "object"
      properties:
        "additionalInformation":
          type: "string"
        "address":
          $ref: "#/components/schemas/NetworkAddress"
        "companyName":
          type: "string"
        "email":
          type: "string"
        "fullName":
          type: "string"
        "nationalBusinessRegistryNumber":
          type: "string"
        "taxNumber":
          type: "string"
        "taxNumberPrefix":
          type: "string"
        "type":
          type: "string"
    "NetworkPayment":
      type: "object"
      properties:
        "endOfWeekCollectionPrice":
          type: "string"
        "insurancePrice":
          type: "string"
        "paid":
          type: "boolean"
        "totalPrice":
          type: "string"
        "transactionStatus":
          type: "string"
    "NetworkSimpleDetails":
      type: "object"
      properties:
        "email":
          type: "string"
        "name":
          type: "string"
        "phoneNumber":
          type: "string"
    "NetworkPreference":
      type: "object"
      properties:
        "key":
          type: "string"
        "value":
          type: "string"
    "AddressDetails":
      type: "object"
      properties:
        "buildingNumber":
          type: "string"
        "city":
          type: "string"
        "flatNumber":
          type: "string"
        "postCode":
          type: "string"
        "province":
          type: "string"
        "street":
          type: "string"
    "PointLocation":
      type: "object"
      properties:
        "latitude":
          type: "number"
        "longitude":
          type: "number"
    "Location":
      type: "object"
      properties:
        "column":
          type: "integer"
        "row":
          type: "integer"
        "side":
          type: "string"
    "NetworkParcelPrice":
      type: "object"
      properties:
        "sizeA":
          type: "number"
        "sizeB":
          type: "number"
        "sizeC":
          type: "number"
    "NetworkRequestAddress":
      type: "object"
      properties:
        "buildingNumber":
          type: "string"
        "city":
          type: "string"
        "companyName":
          type: "string"
        "flatNumber":
          type: "string"
        "postCode":
          type: "string"
        "street":
          type: "string"
    "NetworkRequestInvoiceAddress":
      type: "object"
      properties:
        "buildingNumber":
          type: "string"
        "city":
          type: "string"
        "country":
          type: "string"
        "flatNumber":
          type: "string"
        "postCode":
          type: "string"
        "postOffice":
          type: "string"
        "street":
          type: "string"
    "NetworkAddress":
      type: "object"
      properties:
        "buildingNumber":
          type: "string"
        "city":
          type: "string"
        "country":
          type: "string"
        "flatNumber":
          type: "string"
        "postCode":
          type: "string"
        "postOffice":
          type: "string"
        "province":
          type: "string"
        "street":
          type: "string"