openapi: "3.0.0"
info:
  title: "inpost_nowy_unpacked [retrofit2swagger]"
  description: "Extracted from retrofit"
  version: "1.0.0"
paths:
  "/v4/my-account/change-password":
    "post":
      summary: "ClientApi.m60995a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/sauth/clients/activation/by-pin-code/confirmation":
    "post":
      summary: "ClientApi.m60994a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientPinConfirmationPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/my-account/email-change/confirmation":
    "post":
      summary: "ClientApi.m60993a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmEmailChange"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/my-account/phone-update/confirmation":
    "post":
      summary: "ClientApi.m60992a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmPhoneUpdate"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/clients/facebook/deleted":
    "post":
      summary: "ClientApi.m60991a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteAccountByFacebook"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/clients/oauth/deleted":
    "post":
      summary: "ClientApi.m60990a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteAccountByOAuth"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/sauth/v2/my-account/delete":
    "post":
      summary: "ClientApi.m60989a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteAccountRequestBody"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/sauth/v2/my-account/email-change/request":
    "post":
      summary: "ClientApi.m60988a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailChangeRequestBody"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/my-account/email-change/request":
    "post":
      summary: "ClientApi.m60987a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestEmailChange"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/clients/facebook/email-change/request":
    "post":
      summary: "ClientApi.m60986a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestFacebookEmailChange"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/my-account/phone-update/request":
    "post":
      summary: "ClientApi.m60985a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestPhoneUpdate"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/sauth/clients/activation/by-pin-code/request":
    "post":
      summary: "ClientApi.m60984a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestPinBody"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/my-account/personal-information":
    "post":
      summary: "ClientApi.m60983a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccountInformation"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
    "get":
      summary: "ClientApi.m60973c"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAccountInformation"
          description: "Response body type was declared as `/* renamed from: c */\n\
            AbstractC13964h<GetAccountInformation>`"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/clients/activation/request":
    "post":
      summary: "ClientApi.m60982a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivateClient"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/clients/activation/confirmation":
    "post":
      summary: "ClientApi.m60981a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmClient"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/my-account/delete":
    "post":
      summary: "ClientApi.m60980a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteClientPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/clients/registered":
    "post":
      summary: "ClientApi.m60979a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterClient"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/clients/password-reset/confirmation":
    "post":
      summary: "ClientApi.m60978a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetConfirmation"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/clients/password-reset/request":
    "post":
      summary: "ClientApi.m60977a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetRequest"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/sauth/v3/my-account/logout":
    "post":
      summary: "ClientApi.m60976a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignOutPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/clients/by-uuid/{uuid}/linked-devices":
    "post":
      summary: "ClientApi.m60975a"
      parameters:
      - name: "uuid"
        in: "path"
        description: "ClientApi.m60975a.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterForPushRequest"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/events":
    "get":
      summary: "ClientApi.m60974a"
      parameters:
      - name: "action"
        in: "query"
        description: "ClientApi.m60974a.str"
        schema:
          type: "string"
      - name: "time[from]"
        in: "query"
        description: "ClientApi.m60974a.str2"
        schema:
          type: "string"
      - name: "time[to]"
        in: "query"
        description: "ClientApi.m60974a.str3"
        schema:
          type: "string"
      - name: "limit"
        in: "query"
        description: "ClientApi.m60974a.i"
        schema:
          type: "integer"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/ClientEventData"
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<List<ClientEventData>>`"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.client.p078b.p079a.ClientApi"
  "/v4/server/time":
    "get":
      summary: "ServerTimeApi.m60545a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerTimeResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ServerTimeResponse>`"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.core.net.p101a.ServerTimeApi"
  "/v4/auth/login/client/facebook/no-registration":
    "post":
      summary: "ClientAccountApi.m60553a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<SignInResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthFacebookPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.core.net.p101a.ClientAccountApi"
  "/sauth/v3/auth/login/client":
    "post":
      summary: "ClientAccountApi.m60552a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<SignInResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthenticatePayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.core.net.p101a.ClientAccountApi"
  "/v4/auth/login/client/oauth":
    "post":
      summary: "ClientAccountApi.m60551a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<SignInResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuthPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.core.net.p101a.ClientAccountApi"
  "/sauth/v3/auth/refresh/client":
    "post":
      summary: "ClientAccountApi.m60550a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<SignInResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenWithApiKeyPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.core.net.p101a.ClientAccountApi"
  "/sauth/v3/auth/login/client/anonymous":
    "post":
      summary: "ClientAccountApi.m60549a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<SignInResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignInAnonymousPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.core.net.p101a.ClientAccountApi"
  "/v4/auth/login/client/facebook":
    "post":
      summary: "ClientAccountApi.m60548b"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInResponse"
          description: "Response body type was declared as `/* renamed from: b */\n\
            AbstractC13964h<SignInResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthFacebookPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.core.net.p101a.ClientAccountApi"
  "/sauth/v3/auth/login/client/conditional":
    "post":
      summary: "ClientAccountApi.m60547b"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConditionalAuthResponse"
          description: "Response body type was declared as `/* renamed from: b */\n\
            AbstractC13964h<ConditionalAuthResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthenticatePayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.core.net.p101a.ClientAccountApi"
  "/v4/auth/login/client/oauth/no-registration":
    "post":
      summary: "ClientAccountApi.m60546b"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignInResponse"
          description: "Response body type was declared as `/* renamed from: b */\n\
            AbstractC13964h<SignInResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuthPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.core.net.p101a.ClientAccountApi"
  "/schema-service/document/slug/{slug_name}":
    "post":
      summary: "ContentApi.m60835a"
      parameters:
      - name: "slug_name"
        in: "path"
        description: "ContentApi.m60835a.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecommendationResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<RecommendationResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecommendationRequestBody"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.content.p083a.p084a.ContentApi"
    "get":
      summary: "ContentApi.m60833b"
      parameters:
      - name: "slug_name"
        in: "path"
        description: "ContentApi.m60833b.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: b */\n\
            AbstractC13964h<Object>`"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.content.p083a.p084a.ContentApi"
  "/schema-service/document/{type}/{type_value}":
    "get":
      summary: "ContentApi.m60834a"
      parameters:
      - name: "type"
        in: "path"
        description: "ContentApi.m60834a.str"
        required: true
        schema:
          type: "string"
      - name: "type_value"
        in: "path"
        description: "ContentApi.m60834a.str2"
        required: true
        schema:
          type: "string"
      - name: "version"
        in: "query"
        description: "ContentApi.m60834a.str3"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "array"
                items:
                  type: "object"
                  additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<List<Object>>`"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.content.p083a.p084a.ContentApi"
  "/schema-service/v2/screenViews/generate":
    "get":
      summary: "ContentApi.m60832d"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScreenViewResponse"
          description: "Response body type was declared as `/* renamed from: d */\n\
            AbstractC13964h<ScreenViewResponse>`"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.content.p083a.p084a.ContentApi"
  "/communication/v1/in-app/campaigns/variants-and-segment-check":
    "post":
      summary: "InAppApi.checkAbxAndSegments"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckAbxAndSegment"
          description: "Response body type was declared as `AbstractC13964h<CheckAbxAndSegment>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckAbxAndSegmentPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.injector.inapp.net.InAppApi"
  "/communication/v1/in-app/campaigns/definitions":
    "get":
      summary: "InAppApi.getDefinitions"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefinitionSegments"
          description: "Response body type was declared as `AbstractC13964h<DefinitionSegments>`"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.injector.inapp.net.InAppApi"
  "/communication/v1/in-app/campaigns/check-segment-and-render":
    "post":
      summary: "InAppApi.renderJinjaOrForceCheckSegment"
      parameters:
      - name: "test"
        in: "query"
        description: "InAppApi.renderJinjaOrForceCheckSegment.bool"
        schema:
          type: "boolean"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenderJinja"
          description: "Response body type was declared as `AbstractC13964h<RenderJinja>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenderJinjaOrCheckSegmentPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.injector.inapp.net.InAppApi"
  "/campaign-backend/campaign/ANDROID/get-pushes/{uuid}":
    "get":
      summary: "InjectorApi.m60283a"
      parameters:
      - name: "uuid"
        in: "path"
        description: "InjectorApi.m60283a.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/SynerisePushResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<List<SynerisePushResponse>>`"
      x-retrofit-interface: "com.synerise.sdk.injector.p120a.p121a.InjectorApi"
  "/campaign-backend/campaign/get-walkthrough/{uuid}":
    "get":
      summary: "InjectorApi.m60282a"
      parameters:
      - name: "uuid"
        in: "path"
        description: "InjectorApi.m60282a.str"
        required: true
        schema:
          type: "string"
      - name: "app-version"
        in: "query"
        description: "InjectorApi.m60282a.str2"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalkthroughResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<WalkthroughResponse>`"
      x-retrofit-interface: "com.synerise.sdk.injector.p120a.p121a.InjectorApi"
  "/v4/events/batch":
    "post":
      summary: "TrackerApi.m60363c"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: c */\n\
            AbstractC13964h<Response<ResponseBody>>`"
      requestBody:
        content:
          application/json:
            schema:
              type: "array"
              items:
                $ref: "#/components/schemas/Event"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.event.p112a.p113a.TrackerApi"
  "/v4/vouchers/item/assign":
    "post":
      summary: "PromotionsApi.m59972a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignVoucherResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<AssignVoucherResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignVoucherPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.promotions.p130a.p131a.PromotionsApi"
  "/v4/promotions/promotion/deactivate":
    "post":
      summary: "PromotionsApi.m59971a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivatePromotion"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.promotions.p130a.p131a.PromotionsApi"
  "/v4/promotions/promotion/get-item-for-client/uuid/{uuid}":
    "get":
      summary: "PromotionsApi.m59970a"
      parameters:
      - name: "uuid"
        in: "path"
        description: "PromotionsApi.m59970a.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SinglePromotionResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<SinglePromotionResponse>`"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.promotions.p130a.p131a.PromotionsApi"
  "/v4/promotions/promotion/get-for-client":
    "get":
      summary: "PromotionsApi.m59969a"
      parameters:
      - name: "status"
        in: "query"
        description: "PromotionsApi.m59969a.str"
        schema:
          type: "string"
      - name: "type"
        in: "query"
        description: "PromotionsApi.m59969a.str2"
        schema:
          type: "string"
      - name: "limit"
        in: "query"
        description: "PromotionsApi.m59969a.i"
        schema:
          type: "integer"
      - name: "page"
        in: "query"
        description: "PromotionsApi.m59969a.i2"
        schema:
          type: "integer"
      - name: "includeMeta"
        in: "query"
        description: "PromotionsApi.m59969a.z"
        schema:
          type: "boolean"
      - name: "sort"
        in: "query"
        description: "PromotionsApi.m59969a.list"
        schema:
          type: "array"
          items:
            type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromotionResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<PromotionResponse>`"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.promotions.p130a.p131a.PromotionsApi"
  "/v4/promotions/promotion/batch-activate":
    "post":
      summary: "PromotionsApi.m59968a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              type: "array"
              items:
                $ref: "#/components/schemas/PromotionIdentifier"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.promotions.p130a.p131a.PromotionsApi"
  "/v4/vouchers/item/get-assigned":
    "get":
      summary: "PromotionsApi.m59967b"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherCodesResponse"
          description: "Response body type was declared as `/* renamed from: b */\n\
            AbstractC13964h<VoucherCodesResponse>`"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.promotions.p130a.p131a.PromotionsApi"
  "/v4/vouchers/item/get-or-assign":
    "post":
      summary: "PromotionsApi.m59966b"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignVoucherResponse"
          description: "Response body type was declared as `/* renamed from: b */\n\
            AbstractC13964h<AssignVoucherResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignVoucherPayload"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.promotions.p130a.p131a.PromotionsApi"
  "/v4/promotions/promotion/activate":
    "post":
      summary: "PromotionsApi.m59965b"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: b */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivatePromotion"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.promotions.p130a.p131a.PromotionsApi"
  "/v4/promotions/promotion/batch-deactivate":
    "post":
      summary: "PromotionsApi.m59964b"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: b */\n\
            AbstractC13964h<ResponseBody>`"
      requestBody:
        content:
          application/json:
            schema:
              type: "array"
              items:
                $ref: "#/components/schemas/PromotionIdentifier"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.promotions.p130a.p131a.PromotionsApi"
  "/v4/promotions/promotion/get-item-for-client/code/{code}":
    "get":
      summary: "PromotionsApi.m59963c"
      parameters:
      - name: "code"
        in: "path"
        description: "PromotionsApi.m59963c.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SinglePromotionResponse"
          description: "Response body type was declared as `/* renamed from: c */\n\
            AbstractC13964h<SinglePromotionResponse>`"
      servers:
      - url: "https://api.snrapi.com"
      x-retrofit-interface: "com.synerise.sdk.promotions.p130a.p131a.PromotionsApi"
  "/sessions/{id}/collect-data":
    "put":
      summary: "InterfaceC0024b.m79625a"
      parameters:
      - name: "Content-Type"
        in: "header"
        description: "Static header added by @Headers({...})"
        required: true
        schema:
          type: "string"
          example: "application/json;charset=utf-8"
      - name: "Authorization"
        in: "header"
        description: "InterfaceC0024b.m79625a.str"
        schema:
          type: "string"
      - name: "Cko-Correlation-Id"
        in: "header"
        description: "InterfaceC0024b.m79625a.str2"
        schema:
          type: "string"
      - name: "id"
        in: "path"
        description: "InterfaceC0024b.m79625a.str3"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C0045d"
      x-retrofit-interface: "p000a.a$c.p001e.InterfaceC0024b"
  "/sessions/{id}/complete":
    "post":
      summary: "InterfaceC0024b.m79624a"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "InterfaceC0024b.m79624a.str"
        schema:
          type: "string"
      - name: "Cko-Correlation-Id"
        in: "header"
        description: "InterfaceC0024b.m79624a.str2"
        schema:
          type: "string"
      - name: "id"
        in: "path"
        description: "InterfaceC0024b.m79624a.str3"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      x-retrofit-interface: "p000a.a$c.p001e.InterfaceC0024b"
  "/sessions/{id}":
    "get":
      summary: "InterfaceC0024b.m79623b"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "InterfaceC0024b.m79623b.str"
        schema:
          type: "string"
      - name: "Cko-Correlation-Id"
        in: "header"
        description: "InterfaceC0024b.m79623b.str2"
        schema:
          type: "string"
      - name: "id"
        in: "path"
        description: "InterfaceC0024b.m79623b.str3"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: b */\n\
            Object`"
      x-retrofit-interface: "p000a.a$c.p001e.InterfaceC0024b"
  "/payment_api/payment_operation_token/":
    "get":
      summary: "DotPayInterface.checkOperationToken"
      parameters:
      - name: "id"
        in: "query"
        description: "DotPayInterface.checkOperationToken.str"
        schema:
          type: "string"
      - name: "amount"
        in: "query"
        description: "DotPayInterface.checkOperationToken.str2"
        schema:
          type: "string"
      - name: "currency"
        in: "query"
        description: "DotPayInterface.checkOperationToken.str3"
        schema:
          type: "string"
      - name: "control"
        in: "query"
        description: "DotPayInterface.checkOperationToken.str4"
        schema:
          type: "string"
      - name: "channel"
        in: "query"
        description: "DotPayInterface.checkOperationToken.str5"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationTokenResult"
          description: "Response body type was declared as `Call<OperationTokenResult>`"
      servers:
      - url: "https://api.checkout.com/tokens"
      x-retrofit-interface: "pl.mobiltek.paymentsmobile.dotpay.communication.DotPayInterface"
  "/payment_api/payment_operation/":
    "get":
      summary: "DotPayInterface.checkTransactionResult"
      parameters:
      - name: "id"
        in: "query"
        description: "DotPayInterface.checkTransactionResult.str"
        schema:
          type: "string"
      - name: "token"
        in: "query"
        description: "DotPayInterface.checkTransactionResult.str2"
        schema:
          type: "string"
      - name: "number"
        in: "query"
        description: "DotPayInterface.checkTransactionResult.str3"
        schema:
          type: "string"
      - name: "lang"
        in: "query"
        description: "DotPayInterface.checkTransactionResult.str4"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResult"
          description: "Response body type was declared as `Call<PaymentResult>`"
      servers:
      - url: "https://api.checkout.com/tokens"
      x-retrofit-interface: "pl.mobiltek.paymentsmobile.dotpay.communication.DotPayInterface"
  "/payment_api/channels/":
    "get":
      summary: "DotPayInterface.getChannels"
      parameters:
      - name: "id"
        in: "query"
        description: "DotPayInterface.getChannels.str"
        schema:
          type: "string"
      - name: "amount"
        in: "query"
        description: "DotPayInterface.getChannels.str2"
        schema:
          type: "string"
      - name: "currency"
        in: "query"
        description: "DotPayInterface.getChannels.str3"
        schema:
          type: "string"
      - name: "lang"
        in: "query"
        description: "DotPayInterface.getChannels.str4"
        schema:
          type: "string"
      - name: "credit_card_customer_id"
        in: "query"
        description: "DotPayInterface.getChannels.str5"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
          description: "Response body type was declared as `void`"
      servers:
      - url: "https://api.checkout.com/tokens"
      x-retrofit-interface: "pl.mobiltek.paymentsmobile.dotpay.communication.DotPayInterface"
  "/payment_api/currencies/":
    "get":
      summary: "DotPayInterface.getCurrencies"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Currency"
          description: "Response body type was declared as `Call<List<Currency>>`"
      servers:
      - url: "https://api.checkout.com/tokens"
      x-retrofit-interface: "pl.mobiltek.paymentsmobile.dotpay.communication.DotPayInterface"
  "/payment_api/langs/":
    "get":
      summary: "DotPayInterface.getLanguages"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Language"
          description: "Response body type was declared as `Call<List<Language>>`"
      servers:
      - url: "https://api.checkout.com/tokens"
      x-retrofit-interface: "pl.mobiltek.paymentsmobile.dotpay.communication.DotPayInterface"
  "/":
    "post":
      summary: "DotPayInterface.registerCard"
      parameters:
      - name: "amount"
        in: "query"
        description: "DotPayInterface.registerCard.str"
        schema:
          type: "string"
      - name: "id"
        in: "query"
        description: "DotPayInterface.registerCard.str2"
        schema:
          type: "string"
      - name: "currency"
        in: "query"
        description: "DotPayInterface.registerCard.str3"
        schema:
          type: "string"
      - name: "lang"
        in: "query"
        description: "DotPayInterface.registerCard.str4"
        schema:
          type: "string"
      - name: "brandName"
        in: "query"
        description: "DotPayInterface.registerCard.str5"
        schema:
          type: "string"
      - name: "channel"
        in: "query"
        description: "DotPayInterface.registerCard.str6"
        schema:
          type: "string"
      - name: "type"
        in: "query"
        description: "DotPayInterface.registerCard.str7"
        schema:
          type: "string"
      - name: "application"
        in: "query"
        description: "DotPayInterface.registerCard.str8"
        schema:
          type: "string"
      - name: "application_version"
        in: "query"
        description: "DotPayInterface.registerCard.str9"
        schema:
          type: "string"
      - name: "control"
        in: "query"
        description: "DotPayInterface.registerCard.str10"
        schema:
          type: "string"
      - name: "firstname"
        in: "query"
        description: "DotPayInterface.registerCard.str11"
        schema:
          type: "string"
      - name: "lastname"
        in: "query"
        description: "DotPayInterface.registerCard.str12"
        schema:
          type: "string"
      - name: "email"
        in: "query"
        description: "DotPayInterface.registerCard.str13"
        schema:
          type: "string"
      - name: "credit_card_customer_id"
        in: "query"
        description: "DotPayInterface.registerCard.str14"
        schema:
          type: "string"
      - name: "credit_card_store"
        in: "query"
        description: "DotPayInterface.registerCard.str15"
        schema:
          type: "string"
      - name: "credit_card_registration"
        in: "query"
        description: "DotPayInterface.registerCard.str16"
        schema:
          type: "string"
      - name: "credit_card_number"
        in: "query"
        description: "DotPayInterface.registerCard.str17"
        schema:
          type: "string"
      - name: "credit_card_security_code"
        in: "query"
        description: "DotPayInterface.registerCard.str18"
        schema:
          type: "string"
      - name: "credit_card_expiration_date_month"
        in: "query"
        description: "DotPayInterface.registerCard.str19"
        schema:
          type: "string"
      - name: "credit_card_expiration_date_year"
        in: "query"
        description: "DotPayInterface.registerCard.str20"
        schema:
          type: "string"
      - name: "bylaw"
        in: "query"
        description: "DotPayInterface.registerCard.str21"
        schema:
          type: "string"
      - name: "personal_data"
        in: "query"
        description: "DotPayInterface.registerCard.str22"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
          description: "Response body type was declared as `void`"
      requestBody:
        content:
          application/json:
            schema:
              type: "string"
      servers:
      - url: "https://api.checkout.com/tokens"
      x-retrofit-interface: "pl.mobiltek.paymentsmobile.dotpay.communication.DotPayInterface"
  "/payment_api/":
    "post":
      summary: "DotPayInterface.unregisterCard"
      parameters:
      - name: "Accept"
        in: "header"
        description: "Static header added by @Headers({...})"
        required: true
        schema:
          type: "string"
          example: "application/json"
      - name: "Content-Type"
        in: "header"
        description: "Static header added by @Headers({...})"
        required: true
        schema:
          type: "string"
          example: "application/json"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
          description: "Response body type was declared as `void`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnregisterData"
      servers:
      - url: "https://api.checkout.com/tokens"
      x-retrofit-interface: "pl.mobiltek.paymentsmobile.dotpay.communication.DotPayInterface"
  "/log_list.sig":
    "get":
      summary: "LogListService.m3575a"
      parameters:
      - name: "Cache-Control"
        in: "header"
        description: "Static header added by @Headers({...})"
        required: true
        schema:
          type: "string"
          example: "no-cache"
      - name: "Max-Size"
        in: "header"
        description: "Static header added by @Headers({...})"
        required: true
        schema:
          type: "string"
          example: "512"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      servers:
      - url: "https://www.gstatic.com/ct/log_list/v2"
      x-retrofit-interface: "p817ya.LogListService"
  "/log_list.zip":
    "get":
      summary: "LogListService.m3574b"
      parameters:
      - name: "Cache-Control"
        in: "header"
        description: "Static header added by @Headers({...})"
        required: true
        schema:
          type: "string"
          example: "no-cache"
      - name: "Max-Size"
        in: "header"
        description: "Static header added by @Headers({...})"
        required: true
        schema:
          type: "string"
          example: "2097152"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: b */\n\
            Object`"
      servers:
      - url: "https://www.gstatic.com/ct/log_list/v2"
      x-retrofit-interface: "p817ya.LogListService"
  "/log_list.json":
    "get":
      summary: "LogListService.m3573c"
      parameters:
      - name: "Cache-Control"
        in: "header"
        description: "Static header added by @Headers({...})"
        required: true
        schema:
          type: "string"
          example: "no-cache"
      - name: "Max-Size"
        in: "header"
        description: "Static header added by @Headers({...})"
        required: true
        schema:
          type: "string"
          example: "1048576"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: c */\n\
            Object`"
      servers:
      - url: "https://www.gstatic.com/ct/log_list/v2"
      x-retrofit-interface: "p817ya.LogListService"
  "/v1/chatbot/authenticate":
    "get":
      summary: "ChatbotApi.m1629a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      x-retrofit-interface: "zc0.ChatbotApi"
  "/v1/companies/{taxNumber}":
    "get":
      summary: "CompanyApi.m1623a"
      parameters:
      - name: "taxNumber"
        in: "path"
        description: "CompanyApi.m1623a.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      x-retrofit-interface: "zc0.CompanyApi"
  "/izi/app/shopping/documents/v1/policy":
    "get":
      summary: "ShoppingDocumentsApi.m1615a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      x-retrofit-interface: "zc0.ShoppingDocumentsApi"
  "/izi/app/shopping/v1/promoted-merchants":
    "get":
      summary: "MerchantApi.m1585a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      x-retrofit-interface: "zc0.MerchantApi"
  "/izi/app/shopping/v1/merchants":
    "get":
      summary: "MerchantApi.m1584b"
      parameters:
      - name: "perPage"
        in: "query"
        description: "MerchantApi.m1584b.i"
        schema:
          type: "integer"
      - name: "page"
        in: "query"
        description: "MerchantApi.m1584b.i2"
        schema:
          type: "integer"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: b */\n\
            Object`"
      x-retrofit-interface: "zc0.MerchantApi"
  "/v1/preferences":
    "get":
      summary: "PreferenceApi.m1566a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      x-retrofit-interface: "zc0.PreferenceApi"
  "/v1/preferences/profile":
    "get":
      summary: "PreferenceApi.m1565b"
      parameters:
      - name: "X-Phone-OS"
        in: "header"
        description: "PreferenceApi.m1565b.str"
        schema:
          type: "string"
      - name: "X-Phone-Screen-Size"
        in: "header"
        description: "PreferenceApi.m1565b.str2"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: b */\n\
            Object`"
      x-retrofit-interface: "zc0.PreferenceApi"
  "/v1/id-token":
    "get":
      summary: "SyneriseApi.m1605a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      x-retrofit-interface: "zc0.SyneriseApi"
  "/izi/app/shopping/v1/payments/config":
    "get":
      summary: "ShoppingPaymentConfigApi.m1607a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      x-retrofit-interface: "zc0.ShoppingPaymentConfigApi"
  "/izi/app/shopping/v1/browsers":
    "get":
      summary: "WebBrowserApi.m1592a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.WebBrowserApi"
  "/izi/app/shopping/v1/browsers/{webBrowserId}":
    "delete":
      summary: "WebBrowserApi.m1591b"
      parameters:
      - name: "webBrowserId"
        in: "path"
        description: "WebBrowserApi.m1591b.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: b */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.WebBrowserApi"
  "/v1/discountCode/validate":
    "post":
      summary: "SentParcelSuspendingApi.m1622a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateDiscountCodeNetwork"
      x-retrofit-interface: "zc0.SentParcelSuspendingApi"
  "/v1/consent":
    "post":
      summary: "ConsentApi.m1609a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsentsRequest"
      x-retrofit-interface: "zc0.ConsentApi"
  "/v1/consent/marketing_phone,marketing_push,marketing_email":
    "get":
      summary: "ConsentApi.m1608b"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: b */\n\
            Object`"
      x-retrofit-interface: "zc0.ConsentApi"
  "/izi/app/shopping/v1/orders/{orderId}":
    "get":
      summary: "OrderApi.m1580a"
      parameters:
      - name: "orderId"
        in: "path"
        description: "OrderApi.m1580a.str"
        required: true
        schema:
          type: "string"
      - name: "forceRefresh"
        in: "query"
        description: "OrderApi.m1580a.z"
        schema:
          type: "boolean"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      x-retrofit-interface: "zc0.OrderApi"
  "/izi/app/shopping/v1/orders":
    "get":
      summary: "OrderApi.m1579b"
      parameters:
      - name: "forceRefresh"
        in: "query"
        description: "OrderApi.m1579b.z"
        schema:
          type: "boolean"
      - name: "page"
        in: "query"
        description: "OrderApi.m1579b.i"
        schema:
          type: "integer"
      - name: "perPage"
        in: "query"
        description: "OrderApi.m1579b.i2"
        schema:
          type: "integer"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: b */\n\
            Object`"
      x-retrofit-interface: "zc0.OrderApi"
    "post":
      summary: "OrderApi.m1578c"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: c */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
      x-retrofit-interface: "zc0.OrderApi"
  "/izi/app/shopping/v1/orders/{orderId}/payment-details":
    "get":
      summary: "OrderApi.m1577d"
      parameters:
      - name: "orderId"
        in: "path"
        description: "OrderApi.m1577d.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: d */\n\
            Object`"
      x-retrofit-interface: "zc0.OrderApi"
  "/izi/app/shopping/v1/payments/sdk/start":
    "post":
      summary: "ShoppingPaymentApi.m1613a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartExternalPaymentRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ShoppingPaymentApi"
  "/izi/app/shopping/v1/payments/blik-token":
    "post":
      summary: "ShoppingPaymentApi.m1612b"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: b */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBlikTokenPaymentRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ShoppingPaymentApi"
  "/izi/app/shopping/v1/payments/blik-code":
    "post":
      summary: "ShoppingPaymentApi.m1611c"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: c */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBlikPaymentRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ShoppingPaymentApi"
  "/izi/app/shopping/v1/payments/sdk/status":
    "post":
      summary: "ShoppingPaymentApi.m1610d"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: d */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExternalPaymentStatusRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ShoppingPaymentApi"
  "/izi/app/shopping/v1/baskets/{basketId}":
    "get":
      summary: "BasketApi.m1647a"
      parameters:
      - name: "basketId"
        in: "path"
        description: "BasketApi.m1647a.str"
        required: true
        schema:
          type: "string"
      - name: "forceRefresh"
        in: "query"
        description: "BasketApi.m1647a.z"
        schema:
          type: "boolean"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.BasketApi"
    "delete":
      summary: "BasketApi.m1645c"
      parameters:
      - name: "basketId"
        in: "path"
        description: "BasketApi.m1645c.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: c */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.BasketApi"
  "/izi/app/shopping/v1/baskets":
    "get":
      summary: "BasketApi.m1646b"
      parameters:
      - name: "forceRefresh"
        in: "query"
        description: "BasketApi.m1646b.z"
        schema:
          type: "boolean"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: b */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.BasketApi"
    "post":
      summary: "BasketApi.m1638j"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: j */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddBasketRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.BasketApi"
  "/izi/app/shopping/v1/baskets/{basketId}/update/{basketVersion}":
    "get":
      summary: "BasketApi.m1644d"
      parameters:
      - name: "basketId"
        in: "path"
        description: "BasketApi.m1644d.str"
        required: true
        schema:
          type: "string"
      - name: "basketVersion"
        in: "path"
        description: "BasketApi.m1644d.str2"
        required: true
        schema:
          type: "string"
      - name: "forceRefresh"
        in: "query"
        description: "BasketApi.m1644d.z"
        schema:
          type: "boolean"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: d */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.BasketApi"
  "/izi/app/shopping/v1/baskets/update/{basketVersion}":
    "get":
      summary: "BasketApi.m1643e"
      parameters:
      - name: "basketVersion"
        in: "path"
        description: "BasketApi.m1643e.j"
        required: true
        schema:
          type: "integer"
      - name: "forceRefresh"
        in: "query"
        description: "BasketApi.m1643e.z"
        schema:
          type: "boolean"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: e */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.BasketApi"
  "/izi/app/shopping/v1/baskets/{basketId}/product-quantities":
    "put":
      summary: "BasketApi.m1642f"
      parameters:
      - name: "basketId"
        in: "path"
        description: "BasketApi.m1642f.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: f */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProductQuantityRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.BasketApi"
  "/izi/app/shopping/v1/basket-bindings/{bindingId}":
    "delete":
      summary: "BasketApi.m1641g"
      parameters:
      - name: "bindingId"
        in: "path"
        description: "BasketApi.m1641g.str"
        required: true
        schema:
          type: "string"
      - name: "bindingRejected"
        in: "query"
        description: "BasketApi.m1641g.z"
        schema:
          type: "boolean"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: g */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.BasketApi"
  "/izi/app/shopping/v1/baskets/{basketId}/promo-codes":
    "put":
      summary: "BasketApi.m1640h"
      parameters:
      - name: "basketId"
        in: "path"
        description: "BasketApi.m1640h.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: h */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePromoCodesRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.BasketApi"
  "/izi/app/shopping/v1/baskets/{basketId}/related-products":
    "put":
      summary: "BasketApi.m1639i"
      parameters:
      - name: "basketId"
        in: "path"
        description: "BasketApi.m1639i.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: i */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SuggestedProductsRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.BasketApi"
  "/v1/voicebot/authenticate":
    "post":
      summary: "VoicebotApi.m1600a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoicebotAuthenticationResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<VoicebotAuthenticationResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoicebotAuthenticationRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.VoicebotApi"
  "/izi/app/shopping/v1/profile/services":
    "delete":
      summary: "ProfileApi.m1563a"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: a */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
    "post":
      summary: "ProfileApi.m1558f"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: f */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProfileRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
  "/izi/app/shopping/v1/profile/payment/cards/{cardId}":
    "delete":
      summary: "ProfileApi.m1562b"
      parameters:
      - name: "cardId"
        in: "path"
        description: "ProfileApi.m1562b.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: b */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
  "/izi/app/shopping/v1/profile":
    "get":
      summary: "ProfileApi.m1561c"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: c */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
  "/izi/app/shopping/v1/profile/invoice":
    "delete":
      summary: "ProfileApi.m1560d"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: d */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
    "post":
      summary: "ProfileApi.m1550n"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: n */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShoppingInvoiceNetwork"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
  "/izi/app/shopping/v1/profile/delivery/addresses/{deliveryAddressId}":
    "delete":
      summary: "ProfileApi.m1559e"
      parameters:
      - name: "deliveryAddressId"
        in: "path"
        description: "ProfileApi.m1559e.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: e */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
    "put":
      summary: "ProfileApi.m1556h"
      parameters:
      - name: "deliveryAddressId"
        in: "path"
        description: "ProfileApi.m1556h.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: h */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileDeliveryAddressRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
  "/izi/app/shopping/v1/profile/personal":
    "post":
      summary: "ProfileApi.m1557g"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: g */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProfileRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
  "/izi/app/shopping/v1/profile/delivery/points/{pickupPointName}":
    "delete":
      summary: "ProfileApi.m1555i"
      parameters:
      - name: "pickupPointName"
        in: "path"
        description: "ProfileApi.m1555i.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: i */\n\
            Object`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
  "/izi/app/shopping/v1/profile/delivery/points":
    "post":
      summary: "ProfileApi.m1554j"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: j */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileDeliveryPointRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
  "/izi/app/shopping/v1/profile/delivery/addresses":
    "post":
      summary: "ProfileApi.m1553k"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: k */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileDeliveryAddressRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
  "/izi/app/shopping/v1/profile/payment/cards":
    "post":
      summary: "ProfileApi.m1552l"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: l */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentCardNetwork"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
  "/izi/app/shopping/v1/profile/preferences":
    "post":
      summary: "ProfileApi.m1551m"
      responses:
        "default":
          content:
            application/json:
              schema:
                type: "object"
                additionalProperties: {}
          description: "Response body type was declared as `/* renamed from: m */\n\
            Object`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShoppingProfilePreferencesNetwork"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.ProfileApi"
  "/v1/logout":
    "post":
      summary: "UserApi.m1602a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Completable"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Completable`"
      x-retrofit-interface: "zc0.UserApi"
  "/v2/setPushId":
    "post":
      summary: "CloudMessagingApi.m1627a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Completable"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Completable`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PushTokenRequest"
      x-retrofit-interface: "zc0.CloudMessagingApi"
  "/v1/documents/policy":
    "get":
      summary: "AppTermsApi.m1652a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TermsNetwork"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<TermsNetwork>`"
      x-retrofit-interface: "zc0.AppTermsApi"
  "/payment_api/channels/?amount=100.00&lang=pl&format=json":
    "get":
      summary: "DotpayApi.m1601a"
      parameters:
      - name: "Content-Type"
        in: "header"
        description: "Static header added by @Headers({...})"
        required: true
        schema:
          type: "string"
          example: "application/json"
      - name: "Accept"
        in: "header"
        description: "Static header added by @Headers({...})"
        required: true
        schema:
          type: "string"
          example: "application/json"
      - name: "id"
        in: "query"
        description: "DotpayApi.m1601a.str"
        schema:
          type: "string"
      - name: "currency"
        in: "query"
        description: "DotpayApi.m1601a.str2"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DotpayChannelsResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<DotpayChannelsResponse>`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.DotpayApi"
  "/v1/prices/parcels":
    "get":
      summary: "PriceApi.m1564a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<PriceResponse>`"
      x-retrofit-interface: "zc0.PriceApi"
  "/v1/collect/compartment/status":
    "post":
      summary: "CompartmentStatusApi.m1614a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompartmentStatusResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<CompartmentStatusResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompartmentStatusRequest"
      x-retrofit-interface: "zc0.CompartmentStatusApi"
  "/v1/return/compartment/status":
    "post":
      summary: "ReturnRemoteStatusApi.m1538a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompartmentStatusResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<CompartmentStatusResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompartmentStatusRequest"
      x-retrofit-interface: "zc0.ReturnRemoteStatusApi"
  "/v1/send/compartment/status":
    "post":
      summary: "SendRemoteStatusApi.m1628a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompartmentStatusResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<CompartmentStatusResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompartmentStatusRequest"
      x-retrofit-interface: "zc0.SendRemoteStatusApi"
  "/v1/sendSMSCode":
    "get":
      summary: "RefreshTokenApi.m1549a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendSMSCodeResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<SendSMSCodeResponse>`"
      x-retrofit-interface: "zc0.RefreshTokenApi"
    "post":
      summary: "RegistrationApi.m1547a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendSMSCodeResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<SendSMSCodeResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendSMSCodeRequest"
      x-retrofit-interface: "zc0.RegistrationApi"
  "/v1/reconfirmSMSCode":
    "post":
      summary: "RefreshTokenApi.m1548b"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmSMSResponse"
          description: "Response body type was declared as `/* renamed from: b */\n\
            Single<ConfirmSMSResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReconfirmSMSRequest"
      x-retrofit-interface: "zc0.RefreshTokenApi"
  "/v3/points/{boxMachineName}":
    "get":
      summary: "MapApi.m1590a"
      parameters:
      - name: "boxMachineName"
        in: "path"
        description: "MapApi.m1590a.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BoxMachineNetwork"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<BoxMachineNetwork>`"
      x-retrofit-interface: "zc0.MapApi"
  "/v3/points":
    "get":
      summary: "MapApi.m1588c"
      parameters:
      - name: "query"
        in: "query"
        description: "MapApi.m1588c.str"
        schema:
          type: "string"
      - name: "filter"
        in: "query"
        description: "MapApi.m1588c.str2"
        schema:
          type: "string"
      - name: "perPage"
        in: "query"
        description: "MapApi.m1588c.i"
        schema:
          type: "integer"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryPointsResponse"
          description: "Response body type was declared as `/* renamed from: c */\n\
            Single<DeliveryPointsResponse>`"
      x-retrofit-interface: "zc0.MapApi"
  "/v1/returns/tickets/{uuid}":
    "get":
      summary: "ReturnTicketApi.m1537a"
      parameters:
      - name: "uuid"
        in: "path"
        description: "ReturnTicketApi.m1537a.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReturnTicketNetwork"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<ReturnTicketNetwork>`"
      x-retrofit-interface: "zc0.ReturnTicketApi"
  "/v1/returns/tickets":
    "get":
      summary: "ReturnTicketApi.m1536b"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReturnTicketsResponse"
          description: "Response body type was declared as `/* renamed from: b */\n\
            Single<ReturnTicketsResponse>`"
      x-retrofit-interface: "zc0.ReturnTicketApi"
    "post":
      summary: "CreateTicketApi.m1603b"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTicketDetailsNetwork"
          description: "Response body type was declared as `/* renamed from: b */\n\
            Single<CreateTicketDetailsNetwork>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganizationTicketRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.CreateTicketApi"
  "/v1/returns/organizations":
    "get":
      summary: "ReturnsApi.m1651a"
      parameters:
      - name: "query"
        in: "query"
        description: "ReturnsApi.m1651a.str"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationsResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<OrganizationsResponse>`"
      x-retrofit-interface: "zc0.ReturnsApi"
  "/v1/returns/reasons":
    "get":
      summary: "ReturnsApi.m1650b"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReturnReasonsResponse"
          description: "Response body type was declared as `/* renamed from: b */\n\
            Single<ReturnReasonsResponse>`"
      x-retrofit-interface: "zc0.ReturnsApi"
  "/v1/returns/parcels":
    "get":
      summary: "ReturnsApi.m1649c"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReturnableParcelsResponse"
          description: "Response body type was declared as `/* renamed from: c */\n\
            Single<ReturnableParcelsResponse>`"
      x-retrofit-interface: "zc0.ReturnsApi"
  "/v1/returns/reasons/{uuid}":
    "get":
      summary: "ReturnsApi.m1648d"
      parameters:
      - name: "uuid"
        in: "path"
        description: "ReturnsApi.m1648d.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReturnReasonsResponse"
          description: "Response body type was declared as `/* renamed from: d */\n\
            Single<ReturnReasonsResponse>`"
      x-retrofit-interface: "zc0.ReturnsApi"
  "/v1/payments/transactions/create/blik":
    "post":
      summary: "CreateBlikTransactionApi.m1606a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionDetailsResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<TransactionDetailsResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBlikTransactionRequest"
      x-retrofit-interface: "zc0.CreateBlikTransactionApi"
  "/v1/returns/parcels/tickets":
    "post":
      summary: "CreateTicketApi.m1604a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTicketDetailsNetwork"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<CreateTicketDetailsNetwork>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateParcelTicketRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.CreateTicketApi"
  "/v1/notifications/read":
    "post":
      summary: "NotificationCenterApi.m1583a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Completable"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Completable`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarkMultipleAsReadRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.NotificationCenterApi"
  "/v1/notifications/readAll":
    "post":
      summary: "NotificationCenterApi.m1582b"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Completable"
          description: "Response body type was declared as `/* renamed from: b */\n\
            Completable`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MarkAllAsReadRequest"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.NotificationCenterApi"
  "/v2/notifications":
    "get":
      summary: "NotificationCenterApi.m1581c"
      parameters:
      - name: "type"
        in: "query"
        description: "NotificationCenterApi.m1581c.str"
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationResponse"
          description: "Response body type was declared as `/* renamed from: c */\n\
            Single<NotificationResponse>`"
      servers:
      - url: "https://www.lego.com/pl-pl"
      x-retrofit-interface: "zc0.NotificationCenterApi"
  "/v2/parcels/sent":
    "get":
      summary: "SentParcelApi.m1626a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SentParcelsResponse"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Single<SentParcelsResponse>`"
      x-retrofit-interface: "zc0.SentParcelApi"
  "/v1/parcels":
    "post":
      summary: "SentParcelApi.m1625b"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateParcelResponse"
          description: "Response body type was declared as `/* renamed from: b */\n\
            Single<CreateParcelResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateParcelRequest"
      x-retrofit-interface: "zc0.SentParcelApi"
  "/v2/parcels/sent/{shipmentNumber}":
    "get":
      summary: "SentParcelApi.m1624c"
      parameters:
      - name: "shipmentNumber"
        in: "path"
        description: "SentParcelApi.m1624c.str"
        required: true
        schema:
          type: "string"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SentParcelNetwork"
          description: "Response body type was declared as `/* renamed from: c */\n\
            Single<SentParcelNetwork>`"
      x-retrofit-interface: "zc0.SentParcelApi"
  "/v1/payments/transactions/cancel":
    "post":
      summary: "PaymentApi.m1569a"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Completable"
          description: "Response body type was declared as `/* renamed from: a */\n\
            Completable`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelTransactionRequest"
      x-retrofit-interface: "zc0.PaymentApi"
  "/v1/payments/transactions/create":
    "post":
      summary: "PaymentApi.m1568b"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionDetailsResponse"
          description: "Response body type was declared as `/* renamed from: b */\n\
            Single<TransactionDetailsResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTransactionRequest"
      x-retrofit-interface: "zc0.PaymentApi"
  "/v1/payments/blik/alias/status":
    "get":
      summary: "PaymentApi.m1567c"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlikAliasStatusResponse"
          description: "Response body type was declared as `/* renamed from: c */\n\
            Single<BlikAliasStatusResponse>`"
      x-retrofit-interface: "zc0.PaymentApi"
  "/v1/authenticate":
    "post":
      summary: "RegistrationApi.m1546b"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationResponse"
          description: "Response body type was declared as `/* renamed from: b */\n\
            Single<AuthenticationResponse>`"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthenticateRequest"
      x-retrofit-interface: "zc0.RegistrationApi"
  "/v1/confirmSMSCode":
    "post":
      summary: "RegistrationApi.m1545c"
      responses:
        "default":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmSMSResponse"
          description: "Response body type was declared as `/* renamed from: c */\n\
[...]
